@import "tailwindcss";


@keyframes digit-entry {
  0% {
    opacity: 0;
    transform: translateY(10px) scale(0.5);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animate-digit-entry {
  animation: digit-entry 0.3s ease-out forwards;
}

.animate-fade-in {
  animation: fade-in 0.5s ease-out;
}



/* Hide scrollbar for Chrome, Safari, and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

@keyframes pulse-heart {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}

.pulse-heart {
  animation: pulse-heart 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}


*::selection {
  background-color: #ffc8dd;
  /* Soft pink */
  color: #4a154b;
  /* Deep purple text */
}


@keyframes float {

  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-15px);
  }
}

@keyframes float2 {

  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }
}

@keyframes float3 {

  0%,
  100% {
    transform: translateY(0px) rotate(0deg);
  }

  50% {
    transform: translateY(-20px) rotate(10deg);
  }
}

.float {
  animation: float 6s ease-in-out infinite;
}

.float2 {
  animation: float2 5s ease-in-out infinite;
}

.float3 {
  animation: float3 7s ease-in-out infinite;
}





/* paper animation */

@keyframes paperAnimation {
  0% {
    transform: translateY(0px);
    z-index: 9;
    height: 100%;
  }

  25% {
    transform: translateY(0px);
    z-index: 20;
    height: 100%;

  }

  50% {
    transform: translateY(-100%);
    z-index: 20;
    height: fit-content;


  }

  75% {
    transform: translateY(-150%);
    height: fit-content;
    z-index: 40;
  }


  100% {
    transform: translateY(-50%);
    height: fit-content;
    z-index: 40;
  }
}

.paperAnimation {
  animation: paperAnimation 2s ease-in-out forwards;

}



@keyframes cover {
  0% {
    transform: rotateX(0deg);
  }



  100% {
    transform: rotateX(180deg);
  }
}

.cover {
  animation: cover 0.5s ease-in-out forwards;
}



@keyframes paperAnimationReverse {
  0% {
    transform: translateY(-50%);
    /* transform: translateY(0px); */
    z-index: 40;
    height: fit-content;

  }

  25% {
    transform: translateY(-150%);
    z-index: 40;
    height: fit-content;

  }

  50% {
    transform: translateY(-100%);
    height: fit-content;
    z-index: 20;
  }

  75% {
    transform: translateY(0px);
    z-index: 20;
    height: 100%;
  }

  100% {
    transform: translateY(0px);
    height: 100%;
    z-index: 9;
  }
}

.paperAnimationReverse {
  animation: paperAnimationReverse 2s ease-in-out forwards;
}


@keyframes reverse-cover {

  0% {
    transform: rotateX(180deg);
  }

  80% {
    transform: rotateX(180deg);
  }

  100% {
    transform: rotateX(0deg);
  }
}

.reverse-cover {
  animation: reverse-cover 2.5s ease-in-out forwards;

}

@keyframes reverse {
  0% {
    z-index: 20;
  }

  80%,
  100% {
    z-index: 30;
  }
}

.reverse {
  animation: reverse 2.5s ease-in-out forwards;
  /* z-index: 30; */

}


@keyframes open {

  0% {
    z-index: 30;
  }


  100% {
    z-index: 20;
  }
}

.open {
  animation: open 0.5s ease-in-out forwards;

}

/* @keyframes cover {
  0% {
    transform: rotateX(0deg);
  }



  100% {
    transform: rotateX(180deg);
  }
}

 */